<div class="mt-4">
    <h1>Đăng album</h1>
    <form method="post" action="/album/store">
        <div class="form-group">
            <label for="idalbum">Id album</label>
            <input type="text" class="form-control" id="idalbum" name="idalbum">
        </div>

        <div class="form-group">
            <label for="casi">Ca sĩ</label>
            <input type="text" class="form-control" id="casi" name="casi">
        </div>

        <div class="form-group">
            <label for="tenbaihat">Tên album</label>
            <input type="text" class="form-control" id="tenalbum" name="tenalbum">
        </div>

        <div class="form-group">
            <label for="hinhbaihat">Hình album</label>
            <input type="text" class="form-control" id="hinhalbum" name="hinhalbum">
        </div>

        <button type="submit" class="btn btn-primary">Thêm album</button>
    </form>
</div>