<div class="mt-4">
    <h1>Đăng bài hát</h1>
    <form method="post" action="/baihat/store">
        <div class="form-group">
            <label for="idbaihat">Id bài hát</label>
            <input type="text" class="form-control" id="idbaihat" name="idbaihat">
        </div>

        <div class="form-group">
            <label for="idtheloai">Id thể loại</label>
            <input type="text" class="form-control" id="idtheloai" name="idtheloai">
        </div>

        <div class="form-group">
            <label for="idalbum">Id album</label>
            <input type="text" class="form-control" id="idalbum" name="idalbum">
        </div>

        <div class="form-group">
            <label for="casi">Ca sĩ</label>
            <input type="text" class="form-control" id="casi" name="casi">
        </div>

        <div class="form-group">
            <label for="casi">Tác giả</label>
            <input type="text" class="form-control" id="tacgia" name="tacgia">
        </div>

        <div class="form-group">
            <label for="tenbaihat">Tên bài hát</label>
            <input type="text" class="form-control" id="tenbaihat" name="tenbaihat">
        </div>

        <div class="form-group">
            <label for="hinhbaihat">Hình bài hát</label>
            <input type="text" class="form-control" id="hinhbaihat" name="hinhbaihat">
        </div>

        <div class="form-group">
            <label for="linkbaihat">Link bài hát</label>
            <input type="text" class="form-control" id="linkbaihat" name="linkbaihat">
        </div>

        <button type="submit" class="btn btn-primary">Thêm bài hát</button>
    </form>
</div>