<div class="mt-4">
    <h1>Đăng thể loại</h1>
    <form method="post" action="/theloai/store">
        <div class="form-group">
            <label for="idtheloai">Id thể loại</label>
            <input type="text" class="form-control" id="idtheloai" name="idtheloai">
        </div>

        <div class="form-group">
            <label for="tenbaihat">Tên thể loại</label>
            <input type="text" class="form-control" id="tentheloai" name="tentheloai">
        </div>

        <div class="form-group">
            <label for="hinhbaihat">Hình thể loại</label>
            <input type="text" class="form-control" id="hinhtheloai" name="hinhtheloai">
        </div>

        <button type="submit" class="btn btn-primary">Thêm thể loại</button>
    </form>
</div>