<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/baihat/home">Bài hát</a>
    <a class="navbar-brand" href="/theloai/home">Thể loại</a>
    <a class="navbar-brand" href="/album/home">Album</a>
    <a class="navbar-brand" href="/casi/home">Ca sĩ</a>
    <a class="navbar-brand" href="/tacgia/home">Tác giả</a>
  </div>
</nav>