<div class="mt-4">
    <h1>Đăng tác giả</h1>
    <form method="post" action="/tacgia/store">
        <div class="form-group">
            <label for="idtacgia">Id tác giả</label>
            <input type="text" class="form-control" id="idtacgia" name="idtacgia">
        </div>

        <div class="form-group">
            <label for="tenbaihat">Tên tác giả</label>
            <input type="text" class="form-control" id="tentacgia" name="tentacgia">
        </div>

        <div class="form-group">
            <label for="hinhbaihat">Hình tác giả</label>
            <input type="text" class="form-control" id="hinhtacgia" name="hinhtacgia">
        </div>

        <button type="submit" class="btn btn-primary">Thêm tác giả</button>
    </form>
</div>